@import 'swiper/css/bundle'; 

body{
  background: linear-gradient(180deg, #F8F6E2 0%, #FFFFFF 50%, #F8F6E2 100%);
}



.homepage {
  

  .swiper-pagination-bullet {
    width: 100px;
    height: 4px;
    border-radius: 0;

    &-active {
      background-color: $primary !important;
    }
  }

  .hero-images {

    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
      bottom: 16px;
    }

    .swiper-pagination-bullet {
      background-color: $white;
      opacity: 1;
    }

    .swiper-slide {
      height: 840px;
      background-size: cover;
      background-position: center;

      @include media-breakpoint-down(md) {
        height: 700px;
      }

      &-1 {
        background-image: url(/images/Banner-1.png);

        @include media-breakpoint-down(md) {
          background-image: url(/images/Banner-1-m.png);
        }
      }

      &-2 {
        background-image: url(/images/Banner-2.png);

        @include media-breakpoint-down(md) {
          background-image: url(/images/Banner-2-m.png);
        }
      }

      &-3 {
        background-image: url(/images/Banner-3.png);

        @include media-breakpoint-down(md) {
          background-image: url(/images/Banner-3-m.png);
        }
      }
    }


    form {
      margin-top: 400px;

      // padding: 0 -12px 0 -12px;
      .input-group {
        width: 416px;

        @include media-breakpoint-down(sm) {
          width: 100%
        }
      }
    }
  }

  @keyframes arrowLoop {
    0% {
      transform: translateY(0);
      opacity: .4;
    }

    70% {
      transform: translateY(12px);
      opacity: 1;
    }

    100% {
      transform: translateY(12px);
      opacity: 1;
    }
  }

  .scroll-section-btn {
    &:active{
      border: transparent
    }
    i {
      animation: arrowLoop 1s .2s infinite backwards;
    }
  }


  .area-section {

    .area {

      // padding: 0;
      .cover {
        background-color: hsla(0, 0%, 0%, 0.2);
        transition: .3s;
      }

      .intro {
        opacity: 0;
        transition: .3s;
        // margin: 0 24px;
        width: calc(100% - 48px)
      }

      .tab-area {
        bottom: 24px;
        right: 24px;
        transition: .3s;
      }

      &:hover {
        .cover {
          background-color: hsla(0, 0%, 0%, 0.6);
        }

        .intro {
          opacity: 1;
        }

        .tab-area {
          opacity: 0;
        }
      }
    }

    img {
      line-height: 0;
    }
  }

  .seasons-section {
    .season {
      img {
        transition: .3s;
      }

      &:hover {
        img {
          transform: scale(1.16);
        }
      }

      .cover {
        background-color: rgba(0, 0, 0, 0.4);

      }
    }
  }

  .tourist-spot-section {
    background-image: url(/images/background.png);

    // .swiper-pagination-fraction,
    // .swiper-pagination-custom,
    // .swiper-horizontal>.swiper-pagination-bullets,
    // .swiper-pagination-bullets.swiper-pagination-horizontal {
    //   bottom: 120px;
    // }

    .swiper-slide {
      transition: .3s;
      transform: scale(0.8);

      &.swiper-slide-active {
        transform: scale(1);

      }




      @include media-breakpoint-down(sm) {
        transform: scale(.9);

        &.swiper-slide-active {
          transform: scale(.9);

        }
      }

    }
  }

  .article-section {
    .cover {
      background-color: rgba(0, 0, 0, 0.5);
    }

    .intro {
      bottom: 20px;
      left: 32px;
    }

    .article {
      &:not(:first-child) {
        &::before {
          content: "";
          width: 80px;
          height: 2px;
          background-color: #282828;
          // text-align: center;
          margin: 60px auto;
          display: inline-block;
        }
      }

      &:nth-child(even) {
        >.d-flex {
          flex-direction: row-reverse;
        }
      }

      @include media-breakpoint-down(md) {
        >.d-flex {
          flex-direction: row;
          gap: 16px
        }
      }
    }
  }

  .tools-section {
    .tool {
      transition: .3s;

      &:hover {
        box-shadow: 2px 2px 20px #0000001F;

      }
    }
  }

}