
.viewTitle{
    margin-bottom: 48px;
}

.mb-184{
    padding-bottom: 184px;
}

.mb-80{
    margin-bottom: 80px;
}

.mt-80{
    margin-top: 80px;
}

.color-test{
    color:aqua;
}

.wave-bg{
    background-image: url(/assets/images/background.png);
}

.tool-link > img {
    width: 64px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.tool-link{
    text-align: center;
    margin-bottom: 16px;
    background-color: white;
    display: block;
    width: 300px;
}

.view-intro{
    margin-top: 180px;
}

.tools {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }


.commentImg{
    max-width: 60px;
}